:root {
	--body-color: #e4e9f7;
	--sidebar-color: #fff;
	--primary-color: #695cfe;
	--primary-color-light: #f6f5ff;
	--toggle-color: #ddd;
	--text-color: #4f4f4f;
	/*
    --text-color: #707070;
  */
	/*transition*/

	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;
}

/* Fim Transição */

body {
	height: 100vh;
	background: var(--body-color);
	transition: var(--tran-05);
	overflow-x: hidden;
	/*Esconde barra de scroll p lado meu pvt*/
}

body.dark {
	--body-color: #18191a;
	--sidebar-color: #242526;
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
}

/* Fim root */

.titulo {
	font-size: 3rem;
}

.home .text2 {
	text-align: left;
	font-size: 1.2rem;
	background-color: #695cfe;
	margin-left: 20px;
	margin-right: 40px;
	border-radius: 10px;
	color: #fff;
}

.cont {
	background-color: white;
	color: #695cfe;
	font-size: 2rem;
	font-weight: bold;
	border: 3px solid white;
	border-radius: 4px;
	margin-top: 20px;
}

.home .imagenspcr img {
	border: 6px solid white;
	border-radius: 4px;
}

body .home .imagenspcr img {
	height: 250px;
	width: 250px;
}

.home .imagenspcr {
	display: flex;
	gap: 100px;
	justify-content: center;
	flex-wrap: wrap;
}

.cont .textcont {
	margin: 0px;
}

.cont .textbottom {
	color: #4f4f4f;
}

.cont img {
	transition: transform 0.3s linear;
}

.cont img:hover {
	transform: scale(1.05);
}