:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #4f4f4f;
  --button-color: #ffffff;
  /*
  --text-color: #707070;
*/
  /*transition*/

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
  margin-left: 28px;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --button-color: #3a3b3c;
}

.textreg {
  display: inline-flex;
  flex-wrap: wrap;
}


.coluna {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reg img {
  width: 600px;
  height: 500px;
  border: 9px solid white;
  border-radius: 4px;
}

.tct {
  margin: 1rem;
}

.tct h2 {
  font-size: 2.5rem;
  color: #695cfe;
  margin: 3px;
  text-align: left;
}

body.dark .tct h2 {
  color: #fff;
}

.text2 p {
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 1%;
  text-align: left;
  background-color: #695cfe;
}

tr,
td {
  border: 3px solid var(--text-color);
  
}

@media (max-width: 820px) {
	.coluna  {
		position: relative;
		left: 1%;
	}
}